html {
  background-color: lightsteelblue;
}

canvas {
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
}

h1 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 32px;
  text-align: center;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.button {
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border: 2px solid black;
  width: 120px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 12px;
}

.tool-btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
}

.tool-btn:hover {
  background-color:white;
  color:dodgerblue;
  border: 2px solid dodgerblue;

}



.black {
  background-color: black;
  color: black;
}

.black:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.white {
  background-color: white;
  color: white;
}

.white:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.gray {
  background-color: gray;
  color: gray;
}

.gray:hover {
  background-color: white;
  color: gray;
  border: 2px solid gray;
}

.darkgray {
  background-color: darkgray;
  color: darkgray;
}

.darkgray:hover {
  background-color: white;
  color: darkgray;
  border: 2px solid darkgray;
}

.darkred {
  background-color: darkred;
  color: darkred;
}

.darkred:hover {
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
}

.brown {
  background-color: brown;
  color: brown;
}

.brown:hover {
  background-color: white;
  color: brown;
  border: 2px solid brown;
}

.red {
  background-color: red;
  color: red;
}

.red:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.violet {
  background-color: violet;
  color: violet;
}

.violet:hover {
  background-color: white;
  color: violet;
  border: 2px solid violet;
}

.orange {
  background-color: orange;
  color: orange;
}

.orange:hover {
  background-color: white;
  color: orange;
  border: 2px solid orange;
}

.gold {
  background-color: gold;
  color: gold;
}

.gold:hover {
  background-color: white;
  color: gold;
  border: 2px solid gold;
}

.yellow {
  background-color: yellow;
  color: yellow;
}

.yellow:hover {
  background-color: white;
  color: gold;
  border: 2px solid yellow;
}

.lightyellow {
  background-color: lightyellow;
  color: lightyellow;
}

.lightyellow:hover {
  background-color: white;
  color: gold;
  border: 2px solid lightyellow;
}

.green {
  background-color: green;
  color: green;
}

.green:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}

.lime {
  background-color: lime;
  color: lime;
}

.lime:hover {
  background-color: white;
  color: lime;
  border: 2px solid lime;
}

.turquoise {
  background-color: turquoise;
  color: turquoise;
}

.turquoise:hover {
  background-color: white;
  color: turquoise;
  border: 2px solid turquoise;
}

.aquamarine {
  background-color: aquamarine;
  color: aquamarine;
}

.aquamarine:hover {
  background-color: white;
  color: turquoise;
  border: 2px solid aquamarine;
}

.blue {
  background-color: blue;
  color: blue;
}

.blue:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.cornflowerblue {
  background-color: cornflowerblue;
  color: cornflowerblue;
}

.cornflowerblue:hover {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
}

.purple {
  background-color: purple;
  color: purple;
}

.purple:hover {
  background-color: white;
  color: purple;
  border: 2px solid purple;
}

.lavender {
  background-color: lavender;
  color: lavender;
}

.lavender:hover {
  background-color: white;
  color: purple;
  border: 2px solid lavender;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: midnightblue;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.footer a {
  color: white;
}
